/* src/styles/Registration.css */

body {
    margin: 0;
    padding: 0;
    background: url('../images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .registration-container {
    max-width: 300px;
    margin: auto;
    background-color: rgba(88, 165, 216, 0.8);
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .exercise-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 6px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 16px;
  }
  